{% load i18n %}{% autoescape off %}
{% blocktrans with site_name=site_name %}Hello from {{ site_name }},{% endblocktrans %}

{% trans "You're receiving this email because you requested a password reset." %}

{% trans "Please go to the following page to set a new password:" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "If you didn't request this, you can safely ignore this email." %}

{% blocktrans with site_name=site_name %}— {{ site_name }}{% endblocktrans %}
{% endautoescape %}
